body{background-color:#fdf7d4;}

h1 {color: #f8aa03; font-size: 80;
text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;  /* bloquea solo el scroll horizontal, si querés */
  overflow-y: auto;    /* habilita el scroll vertical */
  cursor: pointer;
}


  ul {
    background: #f3baf5;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.column {
    width: 30%;
    padding: 10px;
    text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}