body{background-color:#fdf7d4;}

h1 {color: #f8aa03; font-size: 80;
text-align: center;
}

body {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
  }

  ul {
    background: #f3baf5;
    padding: 20px;
  }
  
  